.passManager-container {
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    background-color: #2f074c; /* Full black background */
    display: flex;
    justify-content: center;
    flex-direction: column; /* Ensure children stack vertically */
    box-sizing: border-box; /* Include padding in width/height */
}

.pass-content-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    width: 100%; /* Ensure it takes full width */
    max-width: 500px; /* Set a max width for better layout */
    background-color: white; /* White background for contrast */
    padding: 20px; /* Add padding for inputs */
    border-radius: 8px; /* Optional: for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add a shadow */
}

.pass-content-container .addbtn-passManager button{
    padding: 10px 20px;
}
