*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    align-items: normal;
    list-style: none;

}

.Logo{
    margin: 20px;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: #24053b;
}

.container-navbar{
    display: flex;
}

.navbar{
    display: flex;
    top: 0;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    background: #5e079c;
    position: absolute;
    float: left;
    opacity: 1;
    align-items: center;
}

.menus ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    margin: 20px;

}

.menus ul li {
    margin: 10px;
}



.menus ul li a{
     color: aliceblue;
     font-size: 15px;
     background: #210535;
     font-weight: 600;
     padding: 5px 10px;
     border-radius: 10px ;
     transition: .2s;
}

.menus ul li a:hover{
    
    background: white;
    color: #210535;
}



